body {
  background-image: url(https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  font-family: "Exo 2", cursive;
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}
